In [5]:
import pandas as pd

In [6]:
baseData=pd.read_csv("/Users/hancalki/Documents/UMLS Mappings/FITBIR_demographics_mapping_explode2.csv")
baseData

,variable_name,permissible_values,permissible_value_descriptions
0,AgeYrs,NaN,NaN
1,BirthCntryISOCode,AD;AE;AF;AG;AI;AL;AM;AO;AQ;AR;AS;AT;AU;AW;AX;A...,ANDORRA;UNITED ARAB EMIRATES;AFGHANISTAN;ANTIG...
2,BirthCntryName,NaN,NaN
3,BirthDate,NaN,NaN
4,CaregvPrimryExtendOTH,NaN,NaN
...,...,...,...
111,SubjectCohabitCt,NaN,NaN
112,SubjectIDNum,NaN,NaN
113,TBISportInd,No;Unknown;Yes,No;Unknown;Yes
114,UnemplymntRsn,NaN,NaN
115,VisitDate,NaN,NaN

In [7]:
#this step is unnecessary to the end result

#new_df=(baseData.set_index(baseData.columns.drop('permissible_values',1).tolist())
#   ...:    .permissible_values.str.split(';', expand=True)
#   ...:    .stack()
#   ...:    .reset_index()
#   ...:    .rename(columns={0:'permissible_values'})
#   ...:    .loc[:, baseData.columns]
#   ...: )

In [8]:
#create a new dataframe with one row per value found in the permissible value description list.  Split list on 
# semicolon ";" delimiter
new_df2=(baseData.set_index(baseData.columns.drop('permissible_value_descriptions',1).tolist())
   ...:    .permissible_value_descriptions.str.split(';', expand=True)
   ...:    .stack()
   ...:    .reset_index()
   ...:    .rename(columns={0:'permissible_value_descriptions'})
   ...:    .loc[:, baseData.columns]
   ...: )

In [36]:
#the merge as shown below will not work.  It will result in a cross join.  If needed, these frames 
#can be joined on the index instead but ultimately the description is what's needed for a lookup within the UMLS
#so it is not necessary to 'explode' the permissible value list, only the permissible value description list

#pd.merge(new_df, new_df2,how="inner")

Empty DataFrame
Columns: [variable_name, permissible_values, permissible_value_descriptions]
Index: []

In [9]:
#write new dataframe to a csv for use elsewhere

new_df2.to_csv("/Users/hancalki/Documents/UMLS Mappings/FITBIR_demographics_mapping_explode_new2.csv")